@import  url( 'https://fonts.googleapis.com/css2?family=Sahitya&display=swap' );

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #DBDBDB;
}


header {
    height: 150px;
    background-color: #3887A9;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    width: 352px;
    margin: auto 0;

}

.logo img {
    width: 340px;
    height: 100px;
    
}

.search {
    height: 150px;
    display: flex;
    align-items: center;
    
}

.search input{
    width: 800px;
    height: 42px;
    padding: 0;
    text-align: center;
    border-radius: 30px;
    background-color: black;
}

.menu {
    display: flex;
    align-items: center;
}

.login a {
    display: flex;
    align-items: center;
}

.login img {
    width: 65px;
    height: 65px;
}

.login p {
    font-size: 24px;
}

.carrinho a {
    display: flex;
    align-items: center;
}

.carrinho img {
    width: 80px;
    height: 65px;
}

.carrinho p {
    font-family: 'Sahitya', serif;
    font-size: 24px;
}



.container-grid {

    margin: 0 auto;
    width: 1840px;
  
}

.posicionamento-header {
    display: flex;
    justify-content: space-between;
}

.Maisvendidos {
    display: flex;
    height: 240px;
    align-items: center;
    background-color: royalblue;
    justify-content: center;
    margin-top: 30px;
}

.vendidos {
    height: 180px;
   align-items: center;
    display: flex;
   /* margin: auto 0; */
}

.Maisvendidos h2 {
    font-size: 60px;
 }

 .Produtos1{
    height: 704px;
    display: flex;
}

 .produto1 {
    width: 603px;
    height: 730px;
    text-align: center;
}

.imagemproduto1 {
    width: 556px;
    height: 267px;
    text-align: center;
    margin-top: 30px;
}
.imagemproduto1 img {
    width: 556px;
    height: 267px;
}

.descricao1 {
    width: 560px;
    height: 193px;
    margin-top: 5px;
}

.descricao1 p {
    text-align: center;
    font-size: 36px;
    font-family:  'Sahitya', serif;
    font-weight: bold;
    padding: 10px;
}

.Produtos2{
    height: 704px;
    display: flex;
}

 .produto2 {
    width: 603px;
    height: 730px;
    text-align: center;
}

.imagemproduto2 {
    width: 417px;
    height: 267px;
    text-align: center;
    margin-top: 30px;
}
.imagemproduto2 img {
    width: 417px;
    height: 267px;
}

.descricao2 {
    width: 486px;
    height: 311px;
    margin-top: 5px;
}

.descricao2 p {
    text-align: center;
    font-size: 36px;
    font-family:  'Sahitya', serif;
    font-weight: bold;
    padding: 10px;
}

.Produtos4{
    height: 704px;
    display: flex;
}

 .produto4 {
    width: 691px;
    height: 730px;
    text-align: center;
}

.imagemproduto4 {
    width: 606px;
    height: 267px;
    text-align: center;
    margin-top: 30px;
}
.imagemproduto4 img {
    width: 606px;
    height: 267px;
}

.descricao4 {
    width: 473px;
    height: 340px;
    margin-top: 5px;
}

.descricao4 p {
    text-align: center;
    font-size: 36px;
    font-family:  'Sahitya', serif;
    font-weight: bold;
    padding: 10px;
}

.Produtos9{
    height: 704px;
    display: flex;
}

 .produto9 {
    width: 603px;
    height: 730px;
    text-align: center;
}

.imagemproduto9 {
    width: 556px;
    height: 267px;
    text-align: center;
    margin-top: 30px;
}
.imagemproduto9 img {
    width: 556px;
    height: 267px;
}

.descricao9 {
    width: 560px;
    height: 193px;
    margin-top: 5px;
}

.descricao9 p {
    text-align: center;
    font-size: 36px;
    font-family:  'Sahitya', serif;
    font-weight: bold;
    padding: 10px;
}

.Produtos8{
    height: 704px;
    display: flex;
}

 .produto8 {
    width: 603px;
    height: 730px;
    text-align: center;
}

.imagemproduto8 {
    width: 417px;
    height: 267px;
    text-align: center;
    margin-top: 30px;
}
.imagemproduto8 img {
    width: 417px;
    height: 267px;
}

.descricao8 {
    width: 486px;
    height: 311px;
    margin-top: 5px;
}

.descricao8 p {
    text-align: center;
    font-size: 36px;
    font-family:  'Sahitya', serif;
    font-weight: bold;
    padding: 10px;
}

.Produtos5{
    height: 704px;
    display: flex;
}

 .produto5 {
    width: 691px;
    height: 730px;
    text-align: center;
}

.imagemproduto5 {
    width: 606px;
    height: 267px;
    text-align: center;
    margin-top: 30px;
}
.imagemproduto5 img {
    width: 606px;
    height: 267px;
}

.descricao5 {
    width: 486px;
    height: 311px;
    margin-top: 5px;
}

.descricao5 p {
    text-align: center;
    font-size: 36px;
    font-family:  'Sahitya', serif;
    font-weight: bold;
    padding: 10px;
}

.Produtos22{
    height: 704px;
    display: flex;
}

 .produto22 {
    width: 603px;
    height: 730px;
    text-align: center;
}

.imagemproduto22 {
    width: 556px;
    height: 267px;
    text-align: center;
    margin-top: 30px;
}
.imagemproduto22 img {
    width: 556px;
    height: 267px;
}

.descricao22 {
    width: 560px;
    height: 193px;
    margin-top: 5px;
}

.descricao22 p {
    text-align: center;
    font-size: 36px;
    font-family:  'Sahitya', serif;
    font-weight: bold;
    padding: 10px;
}

.Produtos11 {
    height: 704px;
    display: flex;
}

 .produto11 {
    width: 603px;
    height: 730px;
    text-align: center;
}

.imagemproduto11 {
    width: 417px;
    height: 267px;
    text-align: center;
    margin-top: 30px;
}
.imagemproduto11 img {
    width: 417px;
    height: 267px;
}

.descricao11 {
    width: 486px;
    height: 311px;
    margin-top: 5px;
}

.descricao11 p {
    text-align: center;
    font-size: 36px;
    font-family:  'Sahitya', serif;
    font-weight: bold;
    padding: 10px;
}

.Produtos10{
    height: 704px;
    display: flex;
}

 .produto10 {
    width: 691px;
    height: 730px;
    text-align: center;
}

.imagemproduto10 {
    width: 606px;
    height: 267px;
    text-align: center;
    margin-top: 30px;
}
.imagemproduto10 img {
    width: 606px;
    height: 267px;
}

.descricao10 {
    width: 486px;
    height: 311px;
    margin-top: 5px;
}

.descricao10 p {
    text-align: center;
    font-size: 36px;
    font-family:  'Sahitya', serif;
    font-weight: bold;
    padding: 10px;
}

.duvidas {
    background-color:#96BFD1;
    }
    
    .duvidas img{
        width: 30px;
        font-size: 36px;
        font-family:  'Sahitya', serif;
    }
    
    .duvidas {
        display: flex;
        align-items: center;
        justify-content:space-around;
        padding: 30px;
    }
    
    .Informacao {
        text-decoration: none;
        list-style: none;
        font-size: 30px;
    
    }
    
    .infor {
        list-style: none;
        font-size: 20px;    
    }
    
    .infor img {
        height: 50px;
        width: 50px;
    }
    
    .almenta h2 {
        font-size: 80px;
    }


