@import  url( 'https://fonts.googleapis.com/css2?family=Sahitya&display=swap' );

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #DBDBDB;
}


header {
    height: 150px;
    background-color:#3887A9;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    width: 352px;
    margin: auto 0;

}

.logo img {
    width: 340px;
    height: 100px;
    
}

.search {
    height: 150px;
    display: flex;
    align-items: center;
    
}

.search input{
    width: 800px;
    height: 42px;
    padding: 0;
    text-align: center;
    border-radius: 30px;
    background-color: black;
}

.menu {
    display: flex;
    align-items: center;
}

.login a {
    display: flex;
    align-items: center;
}

.login img {
    width: 65px;
    height: 65px;
}

.login p {
    font-size: 24px;
}

.carrinho a {
    display: flex;
    align-items: center;
}

.carrinho img {
    width: 75px;
    height: 60px;
}

.carrinho p {
    font-family: 'Sahitya', serif;
    font-size: 24px;
}

.posicionamento-header {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
    height: 859px;
}

.imagemPrincipal {
    margin: auto;
    width: 920px;
    text-align: center;
}

.imagemPrincipal img {
    width: 775px;
    height: 505px;
    
}

.pPrincipal {
    width: 920px;
    margin: auto;
}

.pPrincipal p {
    font-size: 24px;
    font-family: 'Sahitya', serif;
    padding: 10px;
}

.container-grid {

    margin: 0 auto;
    width: 1840px;
  
}

.posicionamento-header {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
    height: 859px;
}

.imagemPrincipal {
    margin: auto;
    width: 1920px;
    text-align: center;
}

.imagemPrincipal img {
    width: 1920px;
    height: 902px;
    
}

.pPrincipal {
    width: 1920px;
    margin: auto;
}

.pPrincipal p {
    font-size: 24px;
    font-family: 'Sahitya', serif;
    padding: 10px;
}

.imagemPrincipal1 {
    margin: auto;
    width: 1920px;
    text-align: center;
}

.imagemPrincipal1 img {
    width: 1920px;
    height: 1142px;
    
}

.pPrincipal1 {
    width: 1920px;
    margin: auto;
}

.pPrincipal1 p {
    font-size: 24px;
    font-family: 'Sahitya', serif;
    padding: 10px;
}

.imagemPrincipal2 {
    margin: auto;
    width: 1920px;
    text-align: center;
}

.imagemPrincipal2 img {
    width: 1920px;
    height:858px;
    
}

.pPrincipal2 {
    width: 1920px;
    margin: auto;
}

.pPrincipal2 p {
    font-size: 24px;
    font-family: 'Sahitya', serif;
    padding: 10px;
}

.duvidas {
    background-color:#96BFD1;
    }
    
    .duvidas img{
        width: 30px;
        font-size: 36px;
        font-family:  'Sahitya', serif;
    }
    
    .duvidas {
        display: flex;
        align-items: center;
        justify-content:space-around;
        padding: 30px;
    }
    
    .Informacao {
        text-decoration: none;
        list-style: none;
        font-size: 30px;
    
    }
    
    .infor {
        list-style: none;
        font-size: 20px;    
    }
    
    .infor img {
        height: 50px;
        width: 50px;
    }
    
    .almenta h2 {
        font-size: 80px;
    }
